/* Small devices */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }

    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }

}

/* Medium devices  */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 991px) {

    .about .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about .about-content .image::after {
        display: none;
    }

    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

/* Large devices  */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}